:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	background-color: #1e1932;

	--color-primary: #20b2aa;
	--color-secondary: #ffffff;
	--background-color: #231e32;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

a {
	color: var(--color-primary);
	font-weight: bold;
}

a:hover {
	color: var(--color-secondary);
}

